*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.container{
    margin: 0;
    background-color:#F7F6FD;
    height: 200px;
    width: 100%;
    align-items: center;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1E183D;
    padding-left: 40px;
    padding-top: 30px;
    margin:0;

}

.h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #A5A3B1;
    font-size: x-small;
    display: flex;
}

.primer-h3 {
    padding-left: 40px;
    margin: 0;
    margin-top: 2%;

}

.segundo-h3 {
    padding-left:9%;
    margin: 0;
    margin-top: 2%;
}

.tercer-h3 {
    padding-left: 7.5%;
    margin: 0;
    margin-top: 2%;
}

.producto{
    margin-left: 40px;
    border: 1px solid #DBDAE0;
    border-radius: 8px;
    height:30px ;


}

.cantidad{
    margin-left:2%;
    border: 1px solid #DBDAE0;
    border-radius: 8px;
    height:30px ;
    width: 5%;
}

.precio{
    margin-left: 1%;
    border: 1px solid #DBDAE0;
    border-radius: 8px;
    height:30px ;
}

.kilogramos {
    display: inline-block;
    font-size: 15px;
    color:#1E183D;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn{
    background-color: #630CF9;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    height: 30px;
    width: 10%;
    text-align: center;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
    border-style: none;
}


.tabla{
    display: flex;
    justify-content: space-between;
    margin-left: 1%;
    width: 90%;
}



.h2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 13px;
    color:#1E183D;
    font-weight: 500;
    padding-top: 15px;
    padding-left: 2.5%;
    
}





.list-item{
    display: flex;
    justify-content: space-between;
    height: 55px;
    width: 90%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-left: 2%;

}

.list-item button{
    align-items: center;
    height: 30px;
    width: 80px;
    margin-top: 13px;
    margin-right: 5%;
    background-color: #FEECEB;
    border-radius: 8px;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #CB5352;
    font-weight: 500;
    font-size: 18px;

    

}


ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color:#1E183D;
    font-weight: 500;
    list-style: none;
    padding-right: 11%;
    
}




.total{
    display: flex;
    justify-content: flex-end;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color:#1E183D;
    font-weight: 500;
    margin-top: 50px;
    margin-right: 10%;
    
    

}




